
.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
    border: 1px solid black;
  }
 
.flex-items{
    width:auto;
}
 
#table{
    font-size: 20px;
}

