header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(59, 59, 59);
  background-color: rgb(256, 256, 256);
}

header #header-title {
  margin: 0;
  padding: 0;
}

header #header-title h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 32px;
  font-family: Verdana;
  color: rgb(59, 59, 59);
  letter-spacing: 3px;
}

header #header-title img {
  width: 30px;
  height: 30px;
  margin: 0 0 0 5px;
  padding: 0;
  transform: translate(0, 3px); /* Temp uneven fix */
}

header input {
  margin: auto 0;
  padding: 5px 15px;
  font-size: 24px;
  color: white;
  background-color: rgb(124, 124, 124);
  border-radius: 2em;
}

header button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: auto 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

header button img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}