#predictions-sections div {
    position: relative;
    display: inline-block;
    width: 130px;
}

#predictions-sections div h5 {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 1em;;
    font-weight: normal;
    line-height: 1.4em;
    font-size: 20px;
    color: rgb(163, 163, 163);
}

#predictions-sections div img {
    position: absolute;
    top: 25px;
    right: 5px;
    width: 40px;
    height: 40px;
}

#accuracy-container { margin: 60px 0 20px 0; }

#accuracy-container h5 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 3px;
}