#settings-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

#settings-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 500px;
    margin: 0;
    padding: 0;
    background-color: rgb(256, 256, 256);
    border-radius: 10px;
}

#settings-container h2 {
    text-align: center;
}

/* Toggle buttons */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(87, 87, 87);
    border-radius: 34px;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: rgb(44, 184, 255);
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

#settings-options-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 5px;
}

#settings-options-container:hover { background-color: rgb(201, 201, 201); }

#settings-options-container h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0);
}