#chart-container {
    width: 850px; /* Same in Chart.js */
    margin: 40px 10px;
    /* border: 3px solid black; */
    float: left;
}

#chart-container h2 {
  margin: 20px;
  padding: 0;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 5px;
  color: rgb(66, 66, 66);
}